[submodule "StorageBox/lib/forge-std"]
	path = StorageBox/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "assembly-math/lib/forge-std"]
	path = assembly-math/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
