[submodule "StorageBox/lib/forge-std"]
	path = StorageBox/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "assembly-math/lib/forge-std"]
	path = assembly-math/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "assembly-array/lib/forge-std"]
	path = assembly-array/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "assembly-return/lib/forge-std"]
	path = assembly-return/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "assembly-storage/lib/forge-std"]
	path = assembly-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
